@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.header .menu a {
  position: relative;
  font-size: 17px;
  color: #efefef;
  font-weight: 500;
  text-decoration: none;
  margin-left: 35px;
}

.menu a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #efefef;
  transition: 0.2s;
}

.menu a:hover::before {
  width: 100%;
}

@media (max-width: 700px) {
  .header {
    height: auto;
  }
  .menu a {
    padding: 10px 10px;
    display: block;
  }
}
.pie-pagina {
  width: 100%;
  background-color: rgba(10, 20, 29, 0.8901960784);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 25px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #0d2033;
  text-align: center;
}

.pie-pagina .grupo-2 {
  background-color: rgba(15, 36, 56, 0.2117647059);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.titu {
  text-align: center;
  margin-top: 50px;
  padding: 80px;
  color: #fff;
  background-color: rgba(10, 20, 29, 0.568627451);
}

.titu2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.carrusel {
  width: 50%;
  margin: 0 auto;
}

.formadepago {
  width: 20%;
  margin: 0 auto;
}

.minibuscador a {
  color: #0e0909;
  font-size: 20px;
  margin-top: 100px;
  cursor: default;
}

.paises {
  color: #0d2033;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input, select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=submit] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery li {
  margin: 10px;
  margin-bottom: 25px;
}

.gallery img {
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.1);
}

.formulario-contactanos {
  width: 400px;
  margin: auto;
  background: rgba(10, 20, 29, 0.568627451);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

.contactanos {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 10px;
}

input, .textarea-contactanos {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

.textarea-contactanos {
  min-height: 100px;
  max-height: 250px;
  max-width: 100px;
}

/*# sourceMappingURL=style.css.map */
