@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family : 'Poppins', sans-serif;
}


.titu {
    text-align: center;
    margin-top: 50px;
    padding: 80px;
    color:  #fff;
    background-color: $color-fondo;
} 
.titu2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    
}

.carrusel {

    width: 50%; 
    margin: 0 auto; 
    
}

.formadepago {
    width: 20%; 
    margin: 0 auto;


}

.minibuscador a{
    color: #0e0909;
    font-size: 20px;
    margin-top: 100px;
    cursor: default;

}
.paises { 
    color:  #0d2033;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}




